Source: prometheus-node-exporter
Maintainer: perfSONAR developers <debian@perfsonar.net>
Section: net
Priority: optional
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 10)
Homepage: http://www.perfsonar.net

Package: prometheus-node-exporter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Prometheus exporter for machine metrics, written in Go with pluggable metric collectors.
 Prometheus exporter for hardware and OS metrics exposed by *NIX kernels,
 written in Go with pluggable metric collectors.
